.sidebar-margin {
  margin-left: 225px;
}
.sider {
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);

    background-color: #f5f5f5;
  }

  &::-webkit-scrollbar {
    width: 5px;
    background-color: #f5f5f5;
  }

  &::-webkit-scrollbar-thumb {
    background-image: linear-gradient(#1da57a, green);
  }
}
@media only screen and (max-width: 768px) {
  .sider {
    display: none;
  }
  .sidebar-margin {
    margin-left: 0px;
  }
}
