.dash-blog {
  background-color: #ffff;
  margin: 20px 2%;
  padding: 20px;
  border-radius: 20px;
  min-height: 72vh;
  // ---------------------------------------------------------
  #c-c-main {
    position: relative;
    // border: 1px solid gray;
    // padding: 12px 10px;
    border-radius: 10px;
    cursor: text;
    .anticon-user {
      font-size: 34px;
      svg {
        margin-bottom: 12px;
      }
    }
  }

  #c-inp {
    padding-left: 10px;
  }

  #c-inp input {
    width: 100%;
    font-size: 20px;
    // border: 0;
    padding: 10px 15px;
    height: 60px;
    border-radius: 10px;
    margin: 0;
    font-family: Helvetica;
    // border: none;
  }

  #c-c-main input::placeholder {
    color: #666;
  }

  .td {
    display: table-cell;
    vertical-align: middle;
  }
}
// --------------------------------Blog Form -------------------------
.college-form {
  #csv-input {
    display: none;
  }
}
