.dashboard-content {
  margin-top: 20px;
  min-height: calc(~"100vh - 50px");
}
.card-body-icon {
  position: absolute;
  z-index: 0;
  top: -35px;
  right: -25px;
  font-size: 5rem;
  -webkit-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  transform: rotate(15deg);
}

.logo-6 h3 {
  color: #fcfcfc;
  font-family: "Cinzel", serif;
  font-weight: 300;
  font-size: 30px;
  line-height: 1.3;
}
.logo-6 h3 span {
  background: #ffffff;
  color: #1da57a;
  display: inline-block;
  line-height: 1.8;
  padding: 0 16px;
}
