.search-cover {
  background: linear-gradient(
      to bottom,
      rgba(12, 112, 19, 0.5),
      rgba(12, 112, 19, 0.5)
    ),
    url("/img/search.jpg") no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.search-text {
  color: #ffff;
  font-weight: bold;
  font-size: 24px;
}
