.dash-user {
  background-color: #ffff;
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
  min-height: 72vh;
}

@media (max-width: 767px) {
  .dash-user {
    margin: 10px 5px;
  }
  .btn-margin {
    margin-bottom: 10px;
  }
}
