.dash-header {
  padding: 0 24px;
  background-color: #fff;
  border-bottom: 1px solid @primary-color;
  max-height: 50px;
  margin-left: 225px;
  .menu {
    font-size: 24px;
  }
  .anticon-user {
    font-size: 18px;
    svg {
      margin-bottom: 5px;
    }
  }
}
.setting-menu {
  svg {
    font-size: 18px;
    margin-bottom: 4px;
  }
}

.admin-content {
  margin-left: 200px;
}

@media only screen and (max-width: 768px) {
  .dash-header {
    margin-left: 0px;
    .menu {
      display: inline;
    }
  }
}
@media only screen and (min-width: 769px) {
  .dash-header {
    .menu {
      display: none;
    }
  }
}

.dash-drawer {
  .ant-drawer-body {
    padding: 0px !important;
  }
}
