.blog-cards {
  padding: 0px 0px 0px 20px !important;
  border: none;
  height: 150px;
}
.blods-card {
  height: 200px;
}
.footer-card {
  background: none !important;
  border: 0 !important;
}
.card-title {
  &:hover {
    color: @primary-color;
  }
}
@media (max-width: 767px) {
  .blog-cards {
    padding: 20px 0px 0px 0px !important;
    height: 270px;
  }
  .blods-card {
    height: auto;
  }
  .footer-card {
    padding: 0px !important;
  }
}
