.add-note {
  background-color: @primary-color;
  border-radius: 10px;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
  margin-bottom: 20px;
  outline: none !important;
  &:hover {
    background-color: #099e6f;
  }
}
.note-h-admin {
  cursor: pointer;
  &:hover {
    color: #099e6f;
  }
}
