.login-form {
  margin-top: 10%;

  .anticon-user {
    margin-bottom: 8px;
  }
}

.login-social-icon {
  font-size: 30px;
}
.login-facebook {
  color: #4267b2;
}
.login-twitter {
  color: #00acee;
}
.login-google {
  color: rgb(192, 11, 11);
}
