.profile {
  margin: 20px;

  .details-section {
    .card {
      border: none;
      .card-header {
        h5 {
          margin-bottom: 0px;
          color: @primary-color;
        }
      }
      .profile-text {
        font-size: 16px;
        font-weight: bold;
        color: #364f6b;
      }
      .btn-link {
        text-decoration: none;
      }
    }
  }
}

@media (max-width: 767px) {
  .profile {
    .details-section {
      margin-top: 20px;
    }
    .picture-section {
    }
  }
}
