.header {
  background-color: #ffffff;
  .header-top-wrapper {
    background: #2cb978;
    height: 36px;
    padding: 3px;
    position: relative;
    .top-word {
      color: #ffff;
      cursor: pointer;
    }
    .tobar-item {
      padding: 3px;
      li {
        border-right: 1px solid @primary-color;
        padding: 0 15px;
        &:last-child {
          border: none;
          padding-right: 0;
        }
        .a {
          text-decoration: none;
          color: #ffffff;
          cursor: pointer;
          span {
            font-size: 15px;
          }
        }
      }
    }
    &:before {
      background: #ffff;
      clip-path: polygon(0 77%, 63% 77%, 68% 100%, 0% 100%);

      content: "";
      position: absolute;
      bottom: 0;
      left: 0;

      width: 45%;
      height: 130px;
    }
  }

  .header-logo {
    img {
      width: auto;
      max-height: 4.5rem;
      margin-top: -40px !important;
      position: absolute;
    }
  }

  border-bottom: 2px solid #2cb978;
  height: 80px;
}

@media only screen and (max-width: 900px) {
  .header {
    .header-top-wrapper {
      .tobar-item {
        li {
          &:last-child {
            border: none;
            padding-right: 0;
            .a {
              color: #fff;
              span {
                display: inline;
              }
            }
          }
          .a {
            text-decoration: none;
            color: #ffffff;
            span {
              display: none;
            }
          }
        }
      }
    }

    .header-logo {
      img {
        width: auto;
        max-height: 3.5rem;
        position: absolute;
        margin-top: -30px !important;
      }
    }
  }
}
.nav-drawer {
  .ant-drawer-body {
    padding: 0px !important;
  }
}

.nav-social-icon {
  margin-top: 30px;
  cursor: pointer;

  align-items: center;
  list-style: none;
  li {
    display: inline;
    margin-right: 15px;
  }
  .social-icon {
    font-size: 20px;
  }
  .facebook {
    color: #4267b2;
  }
  .twitter {
    color: #00acee;
  }
  .youtube {
    color: #ff0000;
  }
  .linkedin {
    color: #0e76a8;
  }
}

@media only screen and (max-width: 600px) {
  .nav-logo {
    margin-left: -10px;
    width: 95px !important;
  }
}
