.slides .slick-prev,
.slides .slick-next {
  position: absolute;
  top: 50%;
  z-index: 1;
}

.slides {
  position: relative;
  height: 80vh;
}

@media only screen and (max-width: 600px) {
  .slides {
    height: 200px;
  }
  .slider-image {
    height: 200px !important;
  }
}
.slider-image {
  height: 80vh;
}
.slides .slick-prev,
.slides .slick-next {
  position: absolute;
  top: 50%;
  z-index: 1;
}

.slides .slick-prev {
  left: 5%;
}

.slides .slick-next {
  right: 5%;
}

.old-title {
  color: rgb(56, 55, 55) !important;
}
