.about-bca-body {
  max-height: 450px;
  overflow-y: scroll;
}
.about-bca-card {
  .ant-card-body {
    padding-right: 0px;
  }
}

.about-bca-page {
  overflow-x: hidden !important;
  img {
    width: 100% !important;
  }
}
