@import "~antd/dist/antd.less";

blockquote {
  width: 100%;
  margin: 20px 0px;

  color: #000000;
  padding: 5px 10px 5px 15px;
  // border-left: 8px solid @primary-color;
  line-height: 1.6;
  position: relative;
  background: #d6d6d6;

  display: block;
  color: #333333;
  font-style: normal;
  font-family: "Inconsolata", monospace !important;
  margin-top: 1em;
}

@media (max-width: 720px) {
  .editor-post {
    img {
      width: auto !important;
      max-width: 100% !important;
      height: auto !important;
    }
    iframe {
      width: 100% !important;
      max-width: 100% !important;
      height: auto !important;
    }
  }
}
@media (max-width: 1024px) {
  .editor-post {
    iframe {
      max-width: 100% !important;
    }
  }
}

.editor-post {
  img {
    margin: 10px 10px 10px 0;
  }
  iframe {
    width: 100% !important;
    max-width: 100% !important;
  }
}

.ant-form-item-control-input-content {
  textarea {
    border-radius: 10px;
  }
}

.ant-modal-content {
  border-radius: 10px;
}

// ---------------------------------
.form-with-file {
  #csv-input {
    display: none;
  }
}
// /-----------------------
.bca-oldquestiion-title {
  font-size: 30px;
  letter-spacing: 0;
  line-height: 32px;
  margin: 39px 0 39px 0;
  padding: 0 0 11px;
  position: relative;
  text-transform: uppercase;
  color: #000;

  &::after {
    background: @primary-color;
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    width: 54px;
  }
}

.pdf-btn {
  svg {
    margin-bottom: 6px;
  }
}

.btn-download {
  background-color: #02203d;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
  margin-bottom: 20px;
  .svg {
    font-size: 20px;
    margin-bottom: 5px;
  }
}

/* Darker background on mouse-over */
.btn-download:hover {
  background-color: #001529;
}
.react-pdf__Page__annotations {
  display: none;
}
