@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@400;800&display=swap");

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(#1da57a, green);
}

@media (max-width: 1024px) {
  ::-webkit-scrollbar {
    display: none;
  }
}
