.blog-card {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.22);
  border-radius: 10px;
  margin-bottom: 25px;
  overflow: hidden;
  padding: 20px 10px;
  .blog-image {
    max-height: 400px;
  }
  .ant-card-actions {
    background: #ffff;
  }
  .blog-desc {
    font-size: 16px;
    color: gray;
  }
  .card-body {
    .ant-card-meta-title {
      font-size: 20px;
    }
  }
  .ant-card-body {
    padding-left: 0px;
    padding-right: 0px;
  }
}
