.picture-container {
  position: relative;
  .image {
    display: block;
    width: 100%;
    height: auto;
  }

  .overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1;
    width: 100%;

    opacity: 1;
    color: white;
    font-size: 18px;
    padding: 20px;
    text-align: center;
    margin: 0px;
    cursor: pointer;
  }

  .input-section > input {
    display: none;
  }
}
